@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
    @apply text-red-500
}

.step-progress-step-container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 70px; */
    position: relative;
    /* top: 50%; */
    transition: 0.4s ease;
    /* transform: translateY(-50%); */
}

.step-progress-step-container:before {
    content: '';
    @apply bg-meta-4;
    position: absolute;
    height: 3px;
    top: 50%;
    width: 100%;
}

.step-progress-step-container:after {
    content: '';
    @apply bg-primary;
    position: absolute;
    height: 3px;
    top: 50%;
    width: var(--progress-width);
}

.table-td-data {
    @apply border-b border-[#eee] dark:border-strokedark px-3;
}

.table-td-data h5 {
    @apply overflow-auto whitespace-nowrap text-center;
}

.table-td-head {
    @apply min-w-fit px-8 font-medium text-black dark:text-white;
}

.table-td-head span {
    @apply flex justify-center items-center gap-1 min-w-max;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
    /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Thumb color on hover */
}